@import url("https://fonts.googleapis.com/css2?family=Antic&family=Dancing+Script&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.nav {
  height: 70px;
  width: 100%;
  background-color: #cef1ea;
  position: fixed;
  padding: 10px;
  overflow: hidden;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #3a3a3a;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #333;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(22, 22, 22);
}

.logo {
  margin-top: -4rem;
}

.a {
  text-decoration: none;
}
.appointment-button {
  padding: 10px;
  background-color: #333;
  border-color: #cef1ea;
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #cef1ea;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* hero section */

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.hero-heading {
  padding: 10rem;
  text-align: left;
  margin-top: 15rem;
}

.hero-heading h1 {
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;

  font-weight: 500;
}
.hero-heading p {
  font-size: 1.5rem;
  font-family: "Antic", sans-serif;
}

.hero-image {
  text-align: center;
}

/* intro */

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f4f9f9;
}

.intro-content {
  margin-top: 3rem;
  line-height: 2rem;
}

.intro-content h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.intro-content p {
  font-size: 1.5rem;
  font-family: "Antic", sans-serif;
}

.intro-img {
  height: 70%;
  width: 70%;
  object-fit: cover;
  padding: 40px;
  margin-top: 3rem;
}

.btn {
  padding: 20px;
  background-color: #cef1ea;
  border-color: #cef1ea;
  font-size: 15px;
  font-family: raleway, sans-serif;
  letter-spacing: 3px;
}

/* Team Section */
.team-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(https://i.postimg.cc/15dmxkgt/Experience-the-Best-Beauty-Services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem;
  height: 50%;
}

.team-content {
  padding: 20px;
  margin-top: 15rem;
}
.team-content h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: inherit;
  font-family: "Raleway", sans-serif;
}

.team-content p {
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.team-image img {
  width: 70%;
  height: 60%;
  object-fit: contain;
  margin-top: 10rem;
  text-align: center;
}

/* Specialize */
.specialize {
  padding: 0rem 4rem 0rem 4rem;
}

.specialize-heading {
  font-size: 2.5rem;
  text-align: center;
}
.specialize-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -8rem;
  text-align: center;
}

.specialize-card img {
  width: 20rem;
  height: 50rem;
  object-fit: contain;
}

.specialize-card p {
  margin-top: -5rem;
  text-align: center;
  font-family: dancing script;
  font-size: 30px;
  color: #aaa;
}

/* services */

.services {
  background-image: url(https://i.postimg.cc/DzmpwSYT/Experience-the-Best-Beauty-Services-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  line-height: 15rem;
}

.services-heading {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.service-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.service-icon img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.button-element {
  text-align: center;
}
.services-button {
  padding: 20px;
  background-color: #cef1ea;
  border: solid;
  border-color: #cef1ea;
  font-family: raleway, sans-serif;
  letter-spacing: 5px;
}

#circle img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background: #cef1ea;
  border-radius: 50%;
}

/* contact form */

.appointment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.app-form {
  padding: 50px;
  margin-top: 70px;
  height: 70%;
}
.app-image img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.app-heading {
  margin-top: 10rem;
  text-align: center;
}

.app-heading h1 {
  font-size: 3rem;
  font-weight: 400;
}
.app-heading p {
  color: #aaa;
  text-align: center;
}
.form-format {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col-sm-12 {
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-control {
  width: 100%;
  border-color: #3a3a3a;
  padding: 15px;
}

.button {
  padding: 5px;
  width: 100%;
  background-color: #cef1ea;
  border: solid;
  border-color: #cef1ea;
  font-family: raleway, sans-serif;
  letter-spacing: 5px;
  margin-top: 10px;
}

.col-sm-12 input {
  letter-spacing: 3px;
  font-family: raleway, sans-serif;
}
